# virtualenv
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# scripts
import_data.py
scripts/export_data.py
wipe_tests.py

# DS_Store
.DS_Store

# db files
*.db

# data files
categories
transactions