/* 
 * #C63D0F - reddish
 * #3B3738 - blackish
 * #FDF3E7 - whitish
 * #7E8F7C - greenish
 * */
html
{
	font-family: Arial, Helvetica, sans-serif;
}
.error
{
    color: red;
}

ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3B3738;
}

li 
{
	float: left;
}

li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #C63D0F;
}

