/* 
 * #F45642 - reddish
 * #3594FA - blue
 * #3B3738 - blackish - lighter
 * #272324 - blackish - darker
 * #eeeeee - light gray
 * #dddddd - medium gray
 * #cccccc - dark gray
 * */
html
{
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	margin: 0;
}

#NavBar ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #3B3738;
}

#Content
{
	margin-left: 20px;
	margin-right: 20px;
}

.error
{
    color: red;
}

li 
{
	float: left;
}

.Right
{
	float: right;
}

li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #272324;
}

#NavBar .Active
{
	background-color: #F45642;
}

.button
{
	color: black;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.button.delete:hover
{
	color: white;
	background-color: red;
	border: 1px solid red;
}

.button.new:active,
.button.delete:active
{
	background-color: #e2e2e2;
	border: 1px solid #3b3738;
}

.button.new
{
	color: white;
	background-color: #3594FA;
	border: 1px solid #3594FA;
}

