{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#NavBar #Analytics').addClass('Active');
	});
	
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Category');
		data.addColumn('number', 'Cost');
		var by_category = document.getElementsByClassName('chart_data_by_category');
        var drawTable = false;
		{% for item in by_category %}
			data.addRow(['{{item[0]|safe}}', {{item[1]}}]);
            drawTable = true;
		{% endfor %}
		var options = {
			'title':'Spending by Category', 
			'width':800, 
			'height':500, 
			'pieHole':0.4,
			'chartArea':{'width':'80%', 'height':'80%'}
		};
		var table = new google.visualization.PieChart(document.getElementById('chart_div_by_category'));
        if (drawTable) { table.draw(data, options); }
	}
</script>

<form action="" class="form" method="post" name="date_filter">
    {{ form.hidden_tag() }}
	<p>Start: {{ form.start() }} End: {{ form.end() }} <input type="submit" value="Filter"/></p>
</form>
<h3>Total Cost: {{ total }}</h3>
<div id="chart_div_by_category"></div>
{% endblock %}

