{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#NavBar #Login').addClass('Active');
	});
</script>

<h1>Sign In</h1>
{% with messages = get_flashed_messages() %} 
    {% if messages %}
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>Email: {{ form.email() }}</p>
    {% for error in form.email.errors %}
    <p class="error">[{{ error }}]</p>
    {% endfor %}
    <p>Password: {{ form.password() }}</p>
    {% for error in form.password.errors %}
    <p class="error">[{{ error }}]</p>
    {% endfor %}
    <p><input type="submit" value="Go"/></p>
</form>
{% endblock %}

