{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#NavBar #Login').addClass('Active');
	});
</script>

<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>Email: {{ form.email() }}</p>
    {% for error in form.email.errors %}
    <p class="error">[{{ error }}]</p>
    {% endfor %}
    <p>Password: {{ form.password() }}</p>
    {% for error in form.password.errors %}
    <p class="error">[{{ error }}]</p>
    {% endfor %}
    <p><input type="submit" value="Go"/></p>
</form>
{% endblock %}

