{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
	$('#NavBar #Transactions').addClass('Active');
	$('#transactions').DataTable(
		{
		"order": [[0,"desc"],[1,"asc"]]
		}
		);
	$('#transactions').show();
});
</script>
<h1>Transactions</h1>
<a href="{{ url_for('add_transaction') }}">New Transaction</a>
<br/><br/>
<table hidden="true" class="display" id="transactions">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Category</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		{% for t in transactions %}
		<tr>
			<td>{{ t.date }}</td>
			<td>{{ t.name }}</td>
			<td>{{ t.category.name }}</td>
			<td>{{ t.cost }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

