{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
	$('#NavBar #Transactions').addClass('Active');
	var table = $('#transactions').DataTable({
		// hide id column
		columnDefs: [{ "targets": [0], "visible":false, "searchable":false }],

		order: [[1,"desc"]],

		select: { style: 'multi' },

		buttons: [
			{
				// Select only filtered rows
				text: 'Select all',
				action: function() {
					table.rows({ search: "applied" }).select();
				}
			}, 'selectNone'],

		dom: 'lfrtBpi'
	});

	$('#transactions').show();

	$(function() {
		$('#delete_selected').on('click', function() {
			var data = table.rows({ selected: true }).data();
			var ids = $.map(data, function(value, index) {
				return [value[0]];
			});
			var params = {};
			params.ids = ids;
			$.ajax({
				url: $SCRIPT_ROOT + '/delete_transactions',
				data: { data: $.param(params, true) },
				success: function(response) {
					location.reload();
				}
			});
		});
	});
});
</script>

<a class="button new" href="{{ url_for('add_transaction') }}">New Transaction</a>
<br/><br/>
<table hidden="true" class="display select" id="transactions" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Name</th>
			<th>Category</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		{% for t in transactions %}
		<tr>
			<td>{{ t.id }}</td>
			<td>{{ t.date }}</td>
			<td>{{ t.name }}</td>
			<td>{{ t.category.name }}</td>
            <td style="text-align:right;">{{ '${:,.2f}'.format(t.cost) }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br/>
<button class="button delete" id="delete_selected">Delete Selected</button>
{% endblock %}

